/* General */

    html, body {
        height: 100%;
    }

    .col-6 {
      padding: 0;
    }

    figure {
      margin: 0;
    }

    .offset-5vw {
      padding-left:5vw;
    }

    .container-fluid {
        padding: 0;
    }

    .dropdown-menu {
        background-color: #121a25;
        border: 0;
        border-radius: 0;
    }

    p {
      color: black;
    }

    .orange-text {
      color: #ff5534!important;
    }

    .purple-text {
        color: #9088ff!important;
    }

    .white-text {
        color: white!important;
    }

    .navy-text {
      color: #121a25!important;
    }


/* General */

    a:hover {
      transition: none!important;
    }

    a {
      transition: none!important;
    }

    .navbar-brand img {
        max-height: 45px;
    }

    .navbar {
      padding: .5rem 5vw;

    }

    .nav-item {
      font-size: 1.1rem;
    }

    a.dropdown-menu {
        color: #9088ff!important;
    }
    
    #navbar-main .main-menu-item ul li .nav-link {
      font-size: 0.9rem;
    }

    .navbar .navbar-nav .nav-link.active {
      color: white!important;
    }

    .dropdown-item.active, .dropdown-item:active {
      color: white!important;
    }

    .dropdown-item {
        color: #9088ff;
    }

    .dropdown-item:hover {
        background-color: #ff5534;
    }

    .bar-graph-vertical .bar-container {
        float: left;
        height: 150px;
        margin-right: 8px;
        position: relative;
        text-align: center;
        width: 40px;
      }
      
      .bar-graph-vertical .bar {
        border-radius: 3px;
        bottom: 40px;
        position: absolute;
        width: 40px;
      }
      
      .bar-container .bar::after {
        content: attr(data-percentage);
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 24px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      
      .bar-container .bar-ft .bar {
        background-color: #ff5534;
        -webkit-animation: show-bar-ft-vertical 1s 0.4s forwards;
        -moz-animation: show-bar-ft-vertical 1s 0.4s forwards;
        animation: show-bar-ft-vertical 1s 0.4s forwards;
      }

      .bar-container .bar-fm .bar {
        background-color: #ff5534;
        -webkit-animation: show-bar-fm-vertical 1s 0.3s forwards;
        -moz-animation: show-bar-fm-vertical 1s 0.3s forwards;
        animation: show-bar-fm-vertical 1s 0.3s forwards;
      }
      
      .bar-container .bar-fb .bar {
        background-color: #9088ff;
        -webkit-animation: show-bar-fb-vertical 1s 0.1s forwards;
        -moz-animation: show-bar-fb-vertical 1s 0.1s forwards;
        animation: show-bar-fb-vertical 1s 0.1s forwards;
      }
      
      @-webkit-keyframes show-bar-fb-vertical {
        0% {
          height: 0;
        }
        100% {
          height: 20%;
        }
      }
      
      @-webkit-keyframes show-bar-fm-vertical {
        0% {
          height: 0;
        }
        100% {
          height: 45%;
        }
      }
      
      @-webkit-keyframes show-bar-ft-vertical {
        0% {
          height: 0;
        }
        100% {
          height: 92%;
        }
      }

    .spin {
        -webkit-animation:spin 0.7s linear forwards;
        -moz-animation:spin 0.7s linear forwards;
        animation:spin 0.7s linear forwards;
        animation-delay: 1.5s;
    }

    @-moz-keyframes spin {
        100% { 
            -moz-transform: rotate(90deg); 
            } 
        }
    @-webkit-keyframes spin {
        100% { 
            -webkit-transform: rotate(90deg); 
            } 
        }
    @keyframes spin { 
        100% {
            -webkit-transform: rotate(90deg); 
            transform:rotate(90deg); } 
        }
    .fade-out {
      -webkit-animation: fadeOut 1.7s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeOut 1.7s; /* Firefox < 16 */
       -ms-animation: fadeOut 1.7s; /* Internet Explorer */
        -o-animation: fadeOut 1.7s; /* Opera < 12.1 */
           animation: fadeOut 1.7s;
           animation-fill-mode: forwards;
           animation-delay: 3.5s;
    };

    @keyframes fadeOut {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadeOut {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadeOut {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadeOut {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

    @keyframes fadeOut { 
      0% { 
          opacity: 1; 
      } 
      100% { 
          opacity: 0; 
       } 
  }

  .row {
    margin-left: 0;
    margin-right: 0!important;
  }

    .col-12 {
      padding-left: 0;
      padding-right: 0;
    }

    .col-lg-8s {
      padding-left: 0;
      padding-right: 0;
    }

    .page-wrapper {
     height: 70vh;
    }

    .logo-banner {
        background-color: #121a25;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        margin-top: auto;
        position: absolute;
        height: 70vh;
        user-select: none;
    }
    .logo-banner-text {
      margin-top: 47px;
      margin-left: -40px;
    }
    
    .home-banner {
      background-image: url("/media/home.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 70vh;
      margin-top: auto;
      margin-bottom: auto;
    }

    .home-text {
      height: 100%;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.863);
      left: -100vw;
      position: relative;
    }

    .home-text-container {
      position: relative;
      height: 100%;
    }

    .footer-section {
      padding-right: 0;
      padding-left: 0;
      margin-bottom: .5rem;
      a {
        color: #000000;
        &:hover {
          color: #000000;
        }
      }
      &:hover {
        .footer-heading {
          background-color: #ff5534;
        }
      }
    }

    .footer-section-text {
        height: 45%;
        padding-top: 7%;
        }

    .footer-heading {
        background-color: #dbdcde; 
        color: white; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        margin-top: auto;
    }

    .footer-heading-text {
      color: white;
      margin-top: 1rem;
    }

    .footer-statement {
        border-style: solid; 
        border-color: #dbdcde; 
        width: 100%; 
        padding: 1vh 0 1vh 2vh;
    }

    .footer-section:hover .footer-statement {
        border-color: #ff5534;
    }

    footer {
        padding: 0!important;
        margin: 0;
    }

    footer p {
      text-align: left;
    }

    .contact-cta {
      margin-bottom: 1rem;
      font-size: .75rem;
      color: black;
    }

    .modal-content {
        border-radius: 0;
    }

    .modal-header {
        background-color: #ff5534;
        border-top-left-radius: 0!important;
        border-top-right-radius: 0!important;
    }

    .modal-title {
        width: 100%;
        text-align: center;
        color: white;
    }

    .modal-header .close {
        color: white;
        opacity: 1;
    }

    .form-control {
        margin-bottom: 2%;
    }

    .form-group {
        margin-bottom: 0%;
    }

    .cta-button {
        background-color: transparent;
        border-style: solid; 
        border-color: #dbdcde; 
        width: 100%;
        padding: 1vh 0 1vh 2vh;
    }

    .cta-button:hover {
        border-color: #ff5534;
        box-shadow: 3px 3px 3px rgba(33, 33, 33, 0.479);
    }

    .cta-icon {
        background-color: #dbdcde;
        padding: 0.5%;
    }

    .footer-section:hover .cta-icon {
        background-color: #9088ff;
    }

    .footer-social {
        background-color: #9088ff;
        
        }

    .footer-social img{
        max-height: 25px;
        }
    
    .footer-social a{
        color: white;
        }
    
    .footer-social p{
        color: white;
        }

    .footer-center {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }

    .footer-left {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
  }

    .border-left {
        border-left: solid;
        border-color: white;
    }

    .social-icon {
        width: 2rem;
        margin: 2%;
    }
      

    .TM {
        font-size: 2rem;
        top: -1em;
        }

    .fade-In {
    font-size: 6.5rem;
    opacity: 0;
    color: #ff5534;
    animation: fadeIn ;
    animation-delay: 2.5s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }

    .slide-r {
      position: relative;
      left: -100vw;
      width: 70%;
      height: 100%;
      background: rgba(0, 0, 0, 0.88);
      -webkit-animation: slide 1s forwards;
      -webkit-animation-delay: 4s;
      animation: slide 1s forwards;
      animation-delay: 4s
    }
    @-webkit-keyframes slide {
      100% { left: 0; }
  }
  
  @keyframes slide {
      100% { left: 0; }
  }

  .signature-p {
    width: 25%;
    padding-bottom: 2%;;
  }

  .about-text {
    color: white;
    font-size: 1rem;
  }

  .about-text-row {
    margin-right: 20%!important;
  }


/* Clients page */

    .clients-left {
      padding-right:5%;
      padding-top: 3vw;
      padding-bottom: 3vw;
      padding-left: 5vw;
      padding-right: 5vw;

      a {
        color: #9088ff!important;
      }
    }

    .clients-right {
      padding-top: 3vw;
      padding-left: 5vw;
      margin: 0;
      background-color: #f2f3f5; 
      height: 70vh;
    }

    .clients-right-after {
      padding-top: 3vw;
      padding-left: 5vw;
      margin: 0;
      background-color: #9088ff; 
      height: 70vh;

      img {
        padding: 5vh 0vh 5vh 0vh;
      }
    }

    // Combine above two

    .clients-carousel-hover {
      position: absolute;
      top: 0;
      opacity: 0;
      width: 100%;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .carousel-control-next {
      bottom: 0;
      top: auto;
    }

    .carousel-control-next-icon {
      background-image: url("/media/arrow-next.png")!important;
      width: 6vh;
      height: 6vh;
    }

    .carousel-control-prev {
      bottom: 0;
      top: auto;
    }

    .carousel-control-prev-icon {
      background-image: url("/media/arrow-prev.png")!important;
      width: 6vh;
      height: 6vh;
    }

/* Clients page */

/* Team page */
#clientCarousel {
    .carousel-item {
      min-height: 100%!important;
    }

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
          transform: translateX(33.33%);
      }

    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
          transform: translateX(-33.33%)
      }

    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left{ 
          transform: translateX(0);
      }

    .carousel-item.active, .carousel-item-next, .carousel-item-prev {
        display: flex;
    }
    .carousel-slide {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 70vh;
      position: relative;

      .carousel-slide-text {
        position:absolute;
        bottom:0;
        height:40px;
        background-color:#ff5534;
        width:100%;
        &::before {
          content: "";
          height: 40px;
          width: 65%;
          background-color:#ff56347e;
          position: absolute;
          bottom: 40px;
        }
      }

      .carousel-slide-text-purple {
        position:absolute;
        height:40px;
        background-color:#9088ff;
        width:100%;
        &::before {
          content: "";
          height: 40px;
          width: 8%;
          background-color:#9088ff7e;
          position: absolute;
          top: 40px;
          right: 0;
        }
      }

      .carousel-slide-text-three {
        position:absolute;
        bottom:0;
        height:40px;
        background-color:#ff5534;
        width:100%;
        &::before {
          right: 0;
          content: "";
          height: 40px;
          width: 65%;
          background-color:#ff56347e;
          position: absolute;
          bottom: 40px;
        }
      }
    }

    .bio {
      p {
        color: white;
      }
    }

    .position {
      color: white;
    }
    body::-webkit-scrollbar {
        width: 1em;
    }
     
    body::-webkit-scrollbar-track {
    /*     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
      background-color: transparent;
    }
     
    body::-webkit-scrollbar-thumb {
      background-color: green;
      border-radius: 10px;
    }
    }

    .f-name {
      margin: 10px 0px 0px 0px;
      color: white!important;
    }
    
    .carousel-slide-hover {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
    }

    .slide-hover-one {
      background-color: #121a25;
    }

    .slide-hover-two {
      background-color: #9088ff;
    }

    .slide-hover-three {
      background-color: #ff5534;
    }

    .slide-inner {
      padding: 5vh 5vw 0vh 5vw ;
      position: absolute;
      height: 100%;
    }

    /* create the animation class */
    .fade-in {
      animation: fadeIn ease 1s;
      -webkit-animation: fadeIn ease 1s;
      -moz-animation: fadeIn ease 1s;
      -o-animation: fadeIn ease 1s;
      -ms-animation: fadeIn ease 1s;
      animation-fill-mode: forwards;
    }
    /* set the keyframes for the animation class */
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    .bio {
      font-size: 0.75rem;
      color: white;
      overflow: hidden;
      overflow-y: scroll;
      height: 50%;
    }

    p {
        .read-more {
          border-style: solid; 
          border-color: #dbdcde;
          padding: 1vh 0 1vh 2vh;
        }
      }

    

/* Team page */

/* Team internal */

      .internal-team-basic {
        padding-right:5%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        padding-left: 5vw;
        padding-right: 5vw;

        h4 {
          color: white;
        }
      }
      .internal-team-questions {
        padding-right:5%;
        padding-bottom: 3vw;
        padding-left: 5vw;
        padding-right: 5vw;
      }
      .team-icon {
        float: left;
        width: 2rem;
        margin: 0.5rem;
      }
      .internal-team {
        .social-icon {
              width: 2rem;
              margin: 0.3rem;
        }
      }

/* Team internal */

/* Analytics*/

    .analytics-banner {
        background-image: url("/media/analytics.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 70vh;
    }

    .data-gathering {
      background-color: #9088ff;
      height: 35vh;
    }

    .modelling {
      background-color: #121a25;
      height: 35vh;
    }

    .applications {
      background-color: #ff5534;
      height: 35vh;
    }

    .consulting {
      background-color: #9fa4a7;
      height: 35vh;
    }

    .service {
      display: flex; 
      flex-direction: column; 
      justify-content: center;

      img {
        min-width: 18%!important;
      }

      p {
        text-align: center;
        color: white;
        margin-top: 10%;
        margin-bottom: 0;

        a {
          text-decoration: none!important;
        }
      }
    }

    .product-icon {
      img {
        height:80%;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    // Combine above so that the only differing value is the background colour?

    .analytics-left {
      img {
        height: 100%;
      }
    }

    .analytics-right {
      height: 70vh; 
      padding-left: 5%;
      padding-right: 5%;
    }

    .analytics-numbers {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      h3 {
      margin-top: 0;
      }
    }

    .analytics-text {
      padding-right: 5vw;

      p {
        color: white;
      }
    }

    hr {
      background: white;
      background-image: none;
    }


/* Analytics*/

/* Contact us page */

    .contact-left {
        padding-right:10%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        position: relative;
    }

    .contact-right {
        background-image: url("/media/contact.jpg");
        background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 100%;
        position: relative;
    }

    .contact-icon {
      // background-color: #9088ff;
      padding: 0.5%;
    }

    .contact {
      margin-bottom: 1rem;
      color: black;
    }

    .gradient-overlay {
      background-image: linear-gradient(to bottom, rgba(255,0,0,0), #ff5534); 
      position: absolute; 
      bottom:0; 
      width: 8%; 
      height: 100%; 
      left: 50%; 
      transform: translate(-50%);
    }

    .move {
      position: absolute; 
      height: 30%; 
      bottom: 0; 
      right: +8%;
    }

/* Contact us page */

/* Media queries */


@media only screen and (max-width: 1550px) {
  .clients-left {
    padding-bottom: 0;
  }

  p {
   font-size: 0.75rem;
  }
}

@media only screen and (max-width: 1280px) {
  .analytics-text {
    padding-right: 5vw;
  }
}

@media only screen and (max-width: 1200px) {
  
  .footer-social {
    p {
      font-size: 0.72rem;
    }
    a {
      font-size: 0.72rem;
    }
  }
}

@media only screen and (max-width: 992px) {
      .analytics-text {
        padding-right: 5vw;
    }
}

@media only screen and (max-width: 768px) {
  .page-wrapper {
    height: 60vh;
  }

  #clientCarousel .carousel-slide {
  height: 60vh;
  }

.home-banner {
  height: 60vh;
  }

  .logo-banner {
    height: 60vh;
  }

  .clients-left {
    height: 60vh;
  }
  .clients-right {
    height: 60vh;
  }
  .clients-right-after {
    height: 60vh;
  }

  .analytics-banner {
    height: 60vh;
  }

  .service-options {
    height: 60vh;
  }

  .analytics-right {
    height: 60vh;
  }

  .move {
    height: 15%;
  }

  .data-gathering {
    height: 30vh;
  }

  .modelling {
    height: 30vh;
  }

  .applications {
    height: 30vh;
  }

  .consulting {
    height: 30vh;
  }
}

@media only screen and (max-width: 575px) {
  .cta-options {
    display: none;
  }

  .move {
    height: 15%;
  }

  .contact-left {
    padding-top: 0;
    padding-bottom: 0;
}

.gradient-overlay {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), #ff5534); 
  position: absolute; 
  bottom:0; 
  width: 8%; 
  height: 100%; 
  left: 66%; 
  transform: translate(-50%);
}

.move {
  position: absolute;
  bottom: 0;
  right: +7%;
}
}

cta-options {
  display: none!important;
}