<footer class="site-footer">
    {{/*  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
    <p class="powered-by">
      {{ with site.GetPage "privacy.md" }}
        {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
      {{ end }}
      {{ with site.GetPage "terms.md" }}
        {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
        {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
      {{ end }}
    </p>
    {{ end }}
  
    <p class="powered-by">
      {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}
    </p>  */}}
  
    {{/* Display copyright license. */}}
    {{/*  {{ partial "site_footer_license" . }}  */}}
  <div class="container-fluid cta-options d-sm-none d-md-block">
      <div class="row bg-offwhite" style=" padding: 5% 4% 5% 0%;">
          <div class="col-sm footer-section">
              <div class="row footer-heading">
                  <p class="footer-heading-text"><strong>Challenge us</strong></p>
              </div>
              <div class="row footer-section-text offset-5vw">
                  <p>What business problem is keeping you up? Share it, and we'll come back with some ideas on how to solve it.</p>
              </div>
              <div class="row offset-5vw">
                  <p class="footer-statement">How can we help?</p>
              </div>
              <div class="row offset-5vw">
                  <img src="/media/challenge.svg" class="cta-icon purple-text" alt="Challenge us">
              </div>
          </div>
          <div class="col-sm footer-section">
              <div class="row footer-heading">
                  <p class="footer-heading-text"><strong>Join us</strong></p>
              </div>
              <div class="row footer-section-text offset-5vw">
                  <p>We're always looking for outstanding remote talent. If you believe you have 'IQ with EQ', please get in touch.</p>
              </div>
              <div class="row offset-5vw">
                  <p class="footer-statement" type="button" class="btn btn-primary" data-toggle="modal" data-target="#join-us">Apply to collaborate</p>
              </div>
              <div class="row offset-5vw">
                  <img src="/media/join.svg" class="cta-icon" alt="Join us">
              </div>
          </div>
          <div class="col-sm footer-section">
              <div class="row footer-heading">
                  <p class="footer-heading-text"><strong>Hear from us</strong></p>
              </div>
              <div class="row footer-section-text offset-5vw">
                  <p>We run regular training courses. Subscribe to stay up to date with what's happening, when and where.</p>
              </div>
              <div class="row offset-5vw">
                  <p class="footer-statement" type="button" class="btn btn-primary" data-toggle="modal" data-target="#hear-from-us">Receive training newsletters</p>
              </div>
              <div class="row offset-5vw">
                  <img src="/media/hear.svg" class="cta-icon" alt="Hear from us">
              </div>
          </div>
          <div class="col-sm footer-section">
              <div class="row footer-heading">
                  <p class="footer-heading-text"><strong>Contact us</strong></p>
              </div>
              <div class="row footer-section-text offset-5vw">
                  <p>We're based in Durban, South Africa, but engage with clients everywhere and anywhere.</p>
              </div>
              <div class="row offset-5vw">
                  <a href="/contact-us" class="footer-statement contact-cta" type="button" class="btn btn-primary">Get in touch</a>
              </div>
              <div class="row offset-5vw">
                  <img src="/media/contact.svg" class="cta-icon" alt="Contact us">
              </div>
          </div>
        </div>
  </div>

{{/*  displays from 767wide to 576 */}}

  <div class="accordion d-none d-block d-md-none" id="contact-cta">
    <div class="card footer-section">
      <div class="footer-heading" id="headingOne">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <p class="footer-heading-text"><strong>Challenge us</strong></p>
          </button>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#contact-cta">
        <div class="card-body offset-5vw">
        <div class="row pt-3">
          <p>What business problem is keeping you up? Share it, and we'll come back with some ideas on how to solve it.</p>
        </div>
        <div class="row">
          <a href="/contact-us" class="footer-statement contact-cta" type="button" class="btn btn-primary">How can we help?</a>
        </div>
        <div class="row">
          <img src="/media/challenge.svg" class="cta-icon purple-text" alt="Challenge us">
        </div>
        </div>
      </div>
    </div>
    <div class="card footer-section">
      <div class="footer-heading" id="headingTwo">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <p class="footer-heading-text"><strong>Join us</strong></p>
          </button>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#contact-cta">
        <div class="card-body offset-5vw">
        <div class="row pt-3">
          <p>We're always looking for outstanding remote talent. If you believe you have 'IQ with EQ', please get in touch.</p>
        </div>
        <div class="row">
          <a href="/contact-us" class="footer-statement contact-cta" type="button" class="btn btn-primary">Apply to collaborate</a>
        </div>
        <div class="row">
          <img src="/media/join.svg" class="cta-icon" alt="Join us">
        </div>
        </div>
      </div>
    </div>
    <div class="card footer-section">
      <div class="footer-heading" id="headingThree">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <p class="footer-heading-text"><strong>Hear from us</strong></p>
          </button>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#contact-cta">
        <div class="card-body offset-5vw">
        <div class="row pt-3">
          <p>We run regular training courses. Subscribe to stay up to date with what's happening, when and where.</p>
        </div>
        <div class="row">
          <a href="/contact-us" class="footer-statement contact-cta" type="button" class="btn btn-primary">Receive training newsletters</a>
        </div>
        <div class="row">
          <img src="/media/hear.svg" class="cta-icon" alt="Hear from us">
        </div>
        </div>
      </div>
    </div>
    <div class="card footer-section">
      <div class="footer-heading" id="headingFour">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <p class="footer-heading-text"><strong>Contact us</strong></p>
          </button>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#contact-cta">
        <div class="card-body offset-5vw">
        <div class="row pt-3">
          <p>We're based in Durban, South Africa, but engage with clients everywhere and anywhere.</p>
        </div>
        <div class="row">
          <a href="/contact-us" class="footer-statement contact-cta" type="button" class="btn btn-primary">Get in touch</a>
        </div>
        <div class="row">
          <img src="/media/contact.svg" class="cta-icon" alt="Contact us">
        </div>
        </div>
      </div>
    </div>
  </div>

{{/*  Modals  */}}

  <div class="modal fade" id="join-us" tabindex="-1" role="dialog" aria-labelledby="join-us" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="join-us">Join the team!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {{/*  <form name="join-us" method="post" data-netlify="true">
                  <div class="form-group">
                          <input type="text" class="form-control" placeholder="Full name">
                          <input type="email" class="form-control" placeholder="Email">
                      <label for="cv-upload">Upload your CV</label>
                      <input type="file" class="form-control-file" id="cv-upload">
                  </div>
                  <button type="submit" class="cta-button" style="margin-top: 1.5rem;">Submit</button>
              </form>  */}}
              <form name="join-us" method="POST" data-netlify="true">
                  <label style="width: 100%;"><input type="text" name="name" placeholder="Full name" class="form-control" /></label>
                  <label style="width: 100%;"><input type="email" name="email" placeholder="Email address" class="form-control" /></label>
                  <label>Upload your CV</label>
                  <label><input type="file" name="cv" placeholder="Your CV" class="form-control-file" /></label>
                  <button type="submit" class="cta-button" style="margin-top: 1rem; border-radius: 0.25rem;">Submit</button>
              </form>
          </div>
        </div>
      </div>
  </div>

    <div class="modal fade" id="hear-from-us" tabindex="-1" role="dialog" aria-labelledby="hear-from-us" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Subscribe to our newsletter!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="mc_embed_signup">
              <form action="https://exegetic.us2.list-manage.com/subscribe/post?u=13ec3dd31d57a1c860f834cc5&amp;id=a20267db0d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div class="mc-field-group">
                    <input type="text" value="" name="FNAME" class="form-control" placeholder="First Name" id="mce-FNAME">
                  </div>
                  <div class="mc-field-group">
                    <input type="text" value="" name="LNAME" class="form-control" placeholder="Last Name" id="mce-LNAME">
                  </div>
                  <div class="mc-field-group">
                  </label>
                    <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email" id="mce-EMAIL">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response d-none" id="mce-error-response"></div>
                    <div class="response d-none" id="mce-success-response"></div>
                  </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_13ec3dd31d57a1c860f834cc5_a20267db0d" tabindex="-1" value=""></div>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          </div>
          <div class="modal-footer">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_13ec3dd31d57a1c860f834cc5_a20267db0d" tabindex="-1" value=""></div>
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="cta-button button">Subscribe</button>
              </form>
          </div>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

{{/*  SM links  */}}

    <div class="container-fluid footer-social">
        <div class="row" style="padding: 1% 0.1%;">
            <div class="col-6 col-md-4 col-lg-2 footer-center">
                <img src="/media/logo_white.svg" alt="Fathom">
            </div>
            <div class="col-2 col-lg-2 border-left footer-center d-none d-lg-flex">
                <p class="mb-0 text-center">© 2020 Fathom Data</p>
            </div>
            <div class="col-lg- col-lg-4 border-left footer-left mr-auto d-none d-lg-flex">
                <a class="external-docs" href="">privacy policy</a>
                <a class="external-docs" href="">terms</a>
                <a class="external-docs" href="">legal</a>
            </div>

            <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center">
                <a href="" class="social-icon" target="blank"><img src="/media/linkedin.svg" alt="Fathom on LinkedIn"></a>
                <a href="https://www.instagram.com/fathomdata/" class="social-icon" target="blank"><img src="/media/instagram.svg" alt="Fathom on Instagram"></a>
                <a href="https://twitter.com/FathomData" class="social-icon" target="blank"><img src="/media/twitter.svg" salt="Fathom on Twitter"></a>
            </div>
            <div class="col-2 col-md-4 col-lg-2 d-none d-md-flex border-left justify-content-center">
                <img src="/media/signature_white.svg" class="mt-2" alt="Fathom">
            </div>
        </div>
    </div>
  </footer>